@model UdemyIdentity.ViewModels.PasswordResetByAdminViewModel

@{
    ViewData["Title"] = "ResetUserPassword";
}

<h1>Üye Şifre Değiştirme</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetUserPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="UserId" class="control-label"></label>*@
                <input type="hidden" asp-for="UserId" class="form-control" />
                @*<span asp-validation-for="UserId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Şifre Değiştir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Ana Sayfaya Dön</a>
</div>

