
@{
    ViewData["Title"] = "Exchange";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}


<div class="alert alert-success">
    <h1>30 gün boyunca bu sayfada gezebilirsinizzzzzzzzzzzzzzzzz</h1>

</div>

